* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.button-primary {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #64DE82;
    color: #337142;
    border: 1px solid #64DE82;
}

.container {
    width: 70%;
    margin: auto;
}

.container::after {
    content: '';
    display: table;
    clear: both;
}

/* _________inizio header__________ */


/* _______inizio navbar con logo menu e bottoni____ */
nav {
    height: 100px;
    background-color: lightblue;
}

.logo {
    padding: 25px 35px 25px 0;
    float: left;
}

.logo img {
    height: 50px;
    float: left;
}

.menu-bar {
    padding: 29px 0;
    float: left;
}

.menu-bar ul li {
    float: left;
}

a.a-menu {
    display: inline-block;
    color: #fff;
    padding: 10px 12px;
}

.nav-buttons {
    float: left;
    padding: 30.5px 20px;
}

.nav-buttons a.buttons {
    margin: 0 20px;
}

#button-login {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    border: 1px solid #fff;
}

.fa-chevron-down {
    font-size: 12px;
}

.fa-user-circle {
    font-size: 15px;
    margin-right: 5px;
}

.select-lenguage {
    text-transform: uppercase;
    color: #fff;
}










/* ___________inizio sezione jumbotron______ */
.jumbotron {
    height: 400px;
    background-color: orange;
}




















/* togliere questa scritta */
